.title {
    text-align: center;
    font-size: 150px;
    margin: auto;
}

.menu-items {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 150px 100px;
    padding: 20px;
    justify-items: center;
}